body {
  font-family: Arial, "Times New Roman", sans-serif;
  height: 100%;
  width: 95%;
  border: 1px red dotted;
  font-variant: small-caps;
  margin: auto;
}

/* Header Nav */
#header {
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  font-variant: small-caps;
  align-items: baseline;
}

.headerItem {
  font-size: 3em;
}

#headerLeft {
  text-align: left;
  font-size: 2.5em;
}

#headerRight {
  margin-right: 7px;
  text-align: right;
  font-size: 2em;
}

/* Location */
.hidden {
  display: none;
}

.hide {
  display: none;
}

#location {
  padding-top: 10%;
  margin: auto;
  display: flex;
  font-size: 2em;
}

#locationInput {
  width: 100%;
  padding: 5px;
  margin: auto;
  text-align: center;
}

#currentLocation {
  padding: 10%;
  width: 50%;
  margin: auto;
  background-color: rgb(37, 71, 247);
  border-radius: 60px;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

#gps {
  height: 100px;
  width: auto;
}

#inputFields {
  padding-top: 4%;
  width: 100%;
  margin: auto;
}

input, button {
  border: 1px solid black;
  height: 30%;
  width: 60%;
  font-size: 20px;
  margin: auto;
  padding: 5px;
}

#currentdata {
  width: 90%;
  margin: auto;
  border: 3px solid black;
  border-radius: 20px;
}

#weather {
  display: grid;
  text-align: center;
}

#savefav {
  font-size: 3em;
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: right;
  padding-top: 4px;
  padding-right: 6px;
}

#city {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
  font-size: 3em;
  padding-bottom: 10px;
  margin-left: 2px;
}

#currentweather {
  border-bottom: 1px solid black;
  grid-row: 3/4;
  grid-column: 1/4;
  font-size: 1.3em;
}

#currentTemp {
  padding-top: 5px;
  grid-row: 4/5;
  grid-column: 1/2;
  font-size: 1.5em;
  margin: auto;
}

#condIcon {
  padding-top: 5px;
  grid-row: 4/5;
  grid-column: 2/3;
}

#condition {
  grid-row: 5/6;
  grid-column: 2/3;
}

#high {
  padding-top: 5px;
  grid-row: 4/5;
  grid-column: 3/4;
}

#low {
  grid-row: 5/6;
  grid-column: 3/4;
}

#forecast {
  text-align: center;
  margin: auto;
}

#currentforecast {
  font-size: 1.3em;
}

.hours {
  width: 90%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 3;
  border-top: 2px solid black;
}

.times {
  margin-top: 50%;
  grid-column: 1/2;
}

.foreicons {
  margin-top: auto;
  grid-column: 2/3;
}

.temps {
  margin-top: 50%;
  grid-column: 3/4;
}